/* Import Google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto);

$font-family: 'Roboto';
$color: #CCC;
$background-color: #333;

* {
    box-sizing: border-box;
}

html, body {
    font-family: $font-family;
    background-color: $background-color;
    color: $color;
}