/* Import Google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto);

$primary-font-family: 'Roboto';
$primary-color: #ddd;
$primary-background-color:#111;
$font-size: 14px;
$button-color: $primary-color;
$button-background-color: lighten($primary-background-color, 5%);

$padding: 4px;

%window {
    position: fixed;
    top: 0;
    left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    padding: $padding;
    z-index: 5;
    > .Header {
        height: 40px;
    }
    > .Body {
        margin-left: -$padding;
        height: calc(100% - 40px);
    }
}

%button {
    background-color: $button-background-color;
    padding: $padding;
    text-align: center;
    &:hover {
        background-color: lighten($button-background-color, 5%);
    }
    &:active {
        background-color: lighten($button-background-color, 10%);
    }
}

a, button {
    @extend %button;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: $primary-background-color;
    color: $primary-color;
    font-family: $primary-font-family;
    font-size: $font-size;
    user-select: none;
}

.App {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    -webkit-app-region: drag;
    > * {
        -webkit-app-region: no-drag;
    }
    > .WindowLeftMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 150px;
        padding: $padding;
        z-index: 5;
        > a {
            display: block;
            margin-bottom: $padding;
        }
    }
    > .WindowActive {
        @extend %window;
    }
    > .WindowStorage {
        @extend %window;
    }
    > .WindowOptions {
        z-index: 10000;
        position: fixed;
        right: 0;
        top: 0;
        height: 30px;
        a {
            display: inline-block;
            padding: $padding;
            margin-right: $padding;
            width: 30px;
            height: 100%;
        }
    }
    .Body {
        background-color: darken($primary-background-color, 1%);
        padding: $padding;
    }
}