/* Import Google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import './scss/lib/reset.scss';

@font-face {
    font-family: 'pricedown';
    src: url('./fonts/pricedown.woff2') format('woff2'),
         url('./fonts/pricedown.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke*-1;
    @for $i from $from through $stroke {
     @for $j from $from through $stroke {
        $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
      }
    }
    @return $shadow;
  }
  /// Stroke font-character
  /// @param  {Integer} $stroke - Stroke width
  /// @param  {Color}   $color  - Stroke color
  /// @return {Style}           - text-shadow
  @mixin stroke($stroke, $color) {
    text-shadow: stroke($stroke, $color);
  }

%gta-text {
    font-family: 'pricedown';
    letter-spacing: 0.2em;
    @include stroke(2, black);
}

$primary-color: #DDD;
$primary-background-color: #111;
$primary-font-family: 'Roboto';
$primary-font-size: 14px;

$gta-font-family: 'pricedown';

$button-color: $primary-color;
$button-background-color: lighten($primary-background-color, 10%);
$button-hover-color: $primary-color;
$button-hover-background-color: lighten($button-background-color, 15%);
$button-active-color: $primary-color;
$button-active-background-color: lighten($button-background-color, 20%);

$app-left-width: 100px;
$app-page-width: calc(100% - #{$app-left-width});

$padding: 5px;

* {
    box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"] {
    -webkit-app-region: no-drag;
	background: $button-background-color;
	color: $button-color;
    border: none;
    border-radius: $padding;
	padding: $padding $padding * 2;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
	cursor: default;
    outline: none;
    &:hover {
        color: $button-hover-color;
        background-color: $button-hover-background-color;
    }
    &:active {
        color: $button-active-color;
        background-color: $button-active-background-color;
    }
}

html, body {
    color: $primary-color;
    background-color: $primary-background-color;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $primary-font-family;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    -webkit-app-region: drag;
    margin: $padding;
    width: calc(100% - #{$padding * 2});
    height: calc(100% - #{$padding * 2});
}

.gta-save-info {
    background-color: lighten($primary-background-color, 5%);
    padding: $padding;
    width: 400px;
    height: 100px;
    float: left;
    margin-bottom: $padding;
    margin-right: $padding;
    > .save-name {
        font-weight: bold;
        height: 20px;
    }
    > .file-info {
        height: 100%;
        float: left;
        width: calc(100% - 150px);
        > .filename {
            font-size: 12px;
        }
    }
    > .player-info {
        float: left;
        width: 150px;
        height: calc(100% - 20px);
        text-align: right;
        font-size: 1.4rem;
        background-color: $primary-background-color;
        padding: $padding;
        > .time {
            @extend %gta-text;
        }
        > .bars {
            width: 100%;
            > .armor, > .health {
                float: right;
                width: 100%;
                > div {
                    float: right;
                }
            }
        }
        > .money {
            @extend %gta-text;
            color: #36682c;
        }
    }
}

.gta-bar {
    height: 8px;
    width: 100%;
    border: 2px solid #000;
    background-color: #747474;
    > .progress {
        height: 4px;
    }
    &.health > .progress {
        background-color: #bd2220;
    }
    &.armor > .progress {
        background-color: #e0e0e0;
    }
}

.app {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    > .app-left, > .app-page {
        float: left;
        height: 100%;
        > .title {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    > .app-left {
        width: $app-left-width;
        li {
            padding: $padding;
            padding-bottom: 0;
            button {
                width: 100%;
            }
        }
    }
    > .app-page {
        width: $app-page-width;
        padding: $padding;
        padding-left: 0;
        > .title {
            width: 100%;
            height: 30px;
            margin-bottom: $padding;
        }
        > .content {
            height: calc(100% - #{$padding * 2} - 30px);
        }
    }
    > .app-title-bar-buttons {
        position: fixed;
        z-index: 10000;
        top: $padding;
        right: 0;
        > button {
            margin-right: $padding;
        }
    }
}